{% extends "layout.html" %}
{% block creds %}
<form action="#" method="post">
    <div class="container">
        <h3>Required Information</h3>
        <label for="user">Username</label>
        <input type="text" name="username" placeholder="Username" required>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" required>
        <label for="ios">IOS</label>
        <input type="text" name="ios" placeholder="IOS" required>
        <label for="ip">IP Address</label>
        <input type="text" name="ip" placeholder="IP Address" required>
        <button type="submit" class="btn">Submit</button>
    </div>
</form>
{% endblock %}